* {
	box-sizing: border-box;
}
title {
	display: none;
}
body {
	font-family: Lato!important;
	display: block;
}
h1 {
	font-size: 1.5em !important;
	font-family: Recoleta!important;
	color: rgb(69,69,69);
	font-weight: bold;
}
h2 {
	font-size: 1.2em !important;
	font-family: Recoleta!important;
	color: rgb(69,69,69);
	font-weight: bold !important;
 	margin-top: 0.2em !important;
  	margin-bottom: 0.2em !important;
}
h3 {
	font-size: 1.1em !important;
	font-family: Recoleta!important;
	color: rgb(69,69,69);
	font-weight: bold !important;
 	margin-top: 0.2em !important;
  	margin-bottom: 0.2em !important;
	
}
hr {
	color: rgb(255,255,255) !important;
	background-color: rgb(180,180,180) !important;
	border-color: rgb(230,230,230) !important;
}
p {
	margin-bottom: 0;
}
dd {
	margin-bottom: 2vh;
	display: block;
}
img, iframe {
	max-width: 100%;
}
ul {
	max-width: 90vw;
}
a.myLink {
	text-decoration: underline;
	color: rgb(0,0,128);
}
a.myLinkButton{
	text-decoration: none;
	color: rgb(0,0,128);
	font-weight: bold;
}
a.tabTitle, a.tabTitle:visited {
	color: rgb(0,0,0);
	text-decoration:none!important;
}
a.tabTitle:active, #Home a.tabHome, #Page1 a.tabPage1, #Page2 a.tabPage2  {
	color: rgb(19,19,19) !important;
	background-image: linear-gradient(to top, rgb(180, 180, 180), rgb(219,219,219));
	font-weight: bold;
	text-decoration:none!important; 
}
.myPageWrapper{
	background-color: rgb(153,153,153);
	#background-image: linear-gradient(to bottom, rgb(153, 153, 153), rgb(180,180,180));
	width: 100vw;	
	text-align: center;
}
.myPage{
	max-width: 900px;
	min-height: 100vh;
	background-color: rgb(255,255,255);
	display: inline-block;
	text-align: left;
}
@media only screen and (min-width:900px){
	.myPage{
		min-width: 900px;
	}
}
.myPageContent{
	max-width: 100vw;
	padding: 0.8% 3% 1% 3%;
	font-size: 1.1em;
}
#Page1 div.myPageContent, #Page2 div.myPageContent {
	#background-image: linear-gradient(to bottom, rgb(255,255,255), rgba(0,0,128,0.08), rgba(0,0,128,0.10), rgba(0,0,128,0.08), rgb(255,255,255));
	background: rgba(0,0,128,0.03);
}
.myHighlight{
	background-color: rgb(255,189,210);
	margin-left: 5%;
}
.mySection{
	padding: 0 0 0 0;
	max-width: 100%;
}
.myTextBox{
	background-color: rgb(255,255,255);
	#background-color: rgba(0,0,128,0.1);
	#background-image: linear-gradient(to top, rgba(0,0,128,0.05), rgba(0,0,128,0.01));
	padding: 5px 10px 20px 15px !important;
	max-width: 100%;
	border: 1px solid rgb(200,200,200);
	border-radius: 13px;
	margin-top: 20px;
}
.mySmallTextBox{
	background-color: rgb(255,255,255);
	padding: 5px 5px 5px 3px;
	max-width: 500px;
	border: 1px solid rgb(200,200,200);
	border-radius: 13px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.myBlueBox{
	background-image: linear-gradient(to top, rgba(0,0,128,0.1), rgba(0,0,128,0.0));
	padding: 10px 10px 10px 10px !important;
	max-width: 100%;
	border: 1px solid rgb(200,200,200);
	border-radius: 13px;
	margin-top: 20px;
	color: rgb(55,55,55);
}
@media only screen and (min-width: 768px){
	.myCol {width: 45%;}
	.myRight {float: right; margin-right: 2.5%; margin-left: 2.5%}
	.myLeft {float: left; margin-left: 2.5%; margin-right: 2.5%}
	.myCenter {margin-left: 27.5%; margin-right: 27.5%;}
	.mySmallTextBox {padding: 10px 10px 15px 10px !important;}
}
.myButton{
	background-color: rgba(255,255,255,0) !important;
}
.mySmallTable{
	overflow-x: scroll !important;
	font-size: 1em;

}
.myPublished{
	color: rgb(153, 153, 153);
	font-size: 0.9em;
	margin-top: 0.2em;
	margin-bottom: 0.2em; 
}
.mySmallFont{
	color: rgb(69,69,69);
	font-size: 1.0em !important;
}
.myFooter {
	width: 95%;
	color: rgb(153, 153, 153);
	font-size: small;
	margin-left: 5%;
	margin-bottom: 1vh;
}
.myLogo {
	max-width: 80vw;
	height: auto;
	padding: 0px 1px 0px 1px !important;
}
#myTabs{
	background-color: rgb(235,235,235);
	margin-top: 2vh;
	margin-bottom: 0;
	font: rgb(119,119,119);
}
#myTabsDropDown{
	display: none;
}
#menuDropDown{
	display: none;
}
#menuDropDown:checked ~ #myTabsDropDown{
	display: block;

}
input.myPopUp{
	display: none;
}
label.myPopUp{
	text-decoration: underline;
}
input.myPopUp:checked + span{
	display: inline;
}
input.myPopUp:not(:checked) + span{
	display: none;
}
label.radioHideUnhide {
	color: rgb(0,0,128);
	font-weight: bold;
}
input[name="radioArticle1"] {
	display: none;
}
input#showArticle1:checked ~ div#libraryArticle1{
	display: block;
}
input#showArticle1:checked + label{
	display: none;
}
input#showArticle1:not(:checked) ~ div#libraryArticle1{
	display: none;
}
input#showArticle1:not(:checked) + label{
	display: block;
}
input[name="radioArticle2"] {

	display: none;
}
input#showArticle2:checked ~ div#libraryArticle2{
	display: block;
}
input#showArticle2:checked + label{
	display: none;
}
input#showArticle2:not(:checked) ~ div#libraryArticle2{
	display: none;
}
input#showArticle2:not(:checked) + label{
	display: block;
}
input[name="radioArticle3"] {
	display: none;
}
input#showArticle3:checked ~ div#libraryArticle3{
	display: block;
}
input#showArticle3:checked + label{
	display: none;
}
input#showArticle3:not(:checked) ~ div#libraryArticle3{
	display: none;
}
input#showArticle3:not(:checked) + label{
	display: block;
}
input[name="radioArticle4"] {
	display: none;
}
input#showArticle4:checked ~ div#libraryArticle4{
	display: block;
}
input#showArticle4:checked + label{
	display: none;
}
input#showArticle4:not(:checked) ~ div#libraryArticle4{
	display: none;
}
input#showArticle4:not(:checked) + label{
	display: block;
}
input[name="radioArticle5"] {
	display: none;
}
input#showArticle5:checked ~ div#libraryArticle5{
	display: block;
}
input#showArticle5:checked + label{
	display: none;
}
input#showArticle5:not(:checked) ~ div#libraryArticle5{
	display: none;
}
input#showArticle5:not(:checked) + label{
	display: block;
}
input[name="radioArticle6"] {
	display: none;
}
input#showArticle6:checked ~ div#libraryArticle6{
	display: block;
}
input#showArticle6:checked + label{
	display: none;
}
input#showArticle6:not(:checked) ~ div#libraryArticle6{
	display: none;
}
input#showArticle6:not(:checked) + label{
	display: block;
}
input[name="radioArticle7"] {
	display: none;
}
input#showArticle7:checked ~ div#libraryArticle7{
	display: block;
}
input#showArticle7:checked + label{
	display: none;
}
input#showArticle7:not(:checked) ~ div#libraryArticle7{
	display: none;
}
input#showArticle7:not(:checked) + label{
	display: block;
}
